lstm_de_en_learned_embedding_attention.pt
lstm_en_it_charachter_fixed_embedding.pt
lstm_en_it_charachter_learned_embedding.pt
lstm_en_it_fixed_embedding.pt
lstm_en_it_fixed_embedding_attention.pt
lstm_en_it_learned_embedding.pt
lstm_en_it_learned_embedding_attention.pt
lstm_it_en_charachter_fixed_embedding.pt
lstm_it_en_charachter_learned_embedding.pt
lstm_it_en_fixed_embedding.pt
lstm_it_en_fixed_embedding_attention.pt
lstm_it_en_learned_embedding.pt
lstm_it_en_learned_embedding_attention.pt
